In [8]:
import os
import numpy as np
import pandas as pd

In [9]:
path = r"C:\\research_dataset\\prediction_data\\simple_energy_consumption_prediction\\energy_usage"

In [14]:
file_list = os.listdir(path)

In [15]:
print(file_list)

['140801.csv', '140802.csv', '140803.csv', '140804.csv', '140805.csv', '140806.csv', '140807.csv', '140808.csv', '140809.csv', '140810.csv', '140811.csv', '140812.csv', '140813.csv', '140814.csv', '140815.csv', '140816.csv', '140817.csv', '140818.csv', '140819.csv', '140820.csv', '140821.csv', '140822.csv', '140823.csv', '140824.csv', '140825.csv', '140826.csv', '140827.csv', '140828.csv', '140829.csv', '140830.csv', '140831.csv']

In [22]:
df = pd.read_csv(os.path.join(path, file_list[0]))

In [23]:
df

,사용량종합현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,일시,NaN,NaN,NaN,NaN,NaN,2014년 08월 01일,NaN
2,고객번호,NaN,NaN,NaN,NaN,NaN,01-35375163,NaN
3,성명,NaN,NaN,NaN,NaN,NaN,***,NaN
4,상호,NaN,NaN,NaN,NaN,NaN,한양대학교병원,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,총사용량,NaN,"60,717.84 kWh",최대수요,"3,372.48 kW",무효전력량,NaN,NaN
7,역률최대,NaN,지상 : 21시 30분 98.11 %,역률최소,지상 : 16시 30분 96.75 %,"지상 : 13,861.20 kVarh",NaN,NaN
8,NaN,NaN,진상 : 24시 00분 100.00 %,NaN,진상 : 24시 00분 100.00 %,진상 : 0.00 kVarh,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,시,사용량 (kWh),최대수요 (kW),무효전력 (kVarh),NaN,역률(%),NaN,NaN
11,NaN,NaN,NaN,지상,진상,지상,진상,NaN
12,1,"1,781.28","1,818.24",328.32,0,-,100,NaN
13,2,"1,771.44","1,837.44",346.32,0,-,100,NaN
14,3,"1,757.28","1,814.40",324,0,-,100,NaN
15,4,"1,744.08","1,765.44",315.6,0,-,100,NaN
16,5,"1,838.64","1,869.12",327.84,0,-,100,NaN
17,6,"2,008.32","2,060.16",363.6,0,-,100,NaN
18,7,"2,211.36","2,300.16",429.36,0,-,100,NaN
19,8,"2,652.48","2,862.72",624,0,-,100,NaN
20,9,"3,112.80","3,168.96",766.32,0,-,100,NaN
21,10,"3,248.40","3,346.56",807.6,0,97.05,-,NaN
22,11,"3,331.44","3,348.48",837.36,0,96.98,-,NaN
23,12,"3,312.72","3,372.48",840,0,96.93,-,NaN
24,13,"3,297.36","3,330.24",836.16,0,96.93,-,NaN
25,14,"3,263.76","3,292.80",819.36,0,96.99,-,NaN
26,15,"3,273.36","3,292.80",813.12,0,97.05,-,NaN
27,16,"3,227.76","3,268.80",816.24,0,96.95,-,NaN
28,17,"3,159.60","3,225.60",806.4,0,96.89,-,NaN
29,18,"2,914.56","3,046.08",719.28,0,97.09,-,NaN
...,...,...,...,...,...,...,...,...
107,1715,761.52,"3,046.08",183.6,0,97.21,100,NaN
108,1730,753.36,"3,013.44",184.08,0,97.14,100,NaN
109,1745,725.52,"2,902.08",185.04,0,96.9,100,NaN
110,1800,674.16,"2,696.64",166.56,0,97.08,100,NaN
111,1815,646.56,"2,586.24",156.48,0,97.19,100,NaN
112,1830,625.2,"2,500.80",145.44,0,97.4,100,NaN
113,1845,632.64,"2,530.56",150.48,0,97.29,100,NaN
114,1900,615.12,"2,460.48",146.16,0,97.29,100,NaN
115,1915,590.88,"2,363.52",139.44,0,97.33,100,NaN
116,1930,567.84,"2,271.36",122.64,0,97.75,100,NaN
117,1945,563.04,"2,252.16",114.24,0,98,100,NaN
118,2000,554.16,"2,216.64",114.72,0,97.92,100,NaN
119,2015,542.16,"2,168.64",112.56,0,97.91,100,NaN
120,2030,542.64,"2,170.56",115.2,0,97.82,100,NaN
121,2045,535.92,"2,143.68",117.12,0,97.69,100,NaN
122,2100,528,"2,112.00",113.28,0,97.78,100,NaN
123,2115,519.84,"2,079.36",102.24,0,98.12,100,NaN
124,2130,509.76,"2,039.04",100.56,0,98.11,100,NaN
125,2145,498,"1,992.00",98.4,0,98.1,100,NaN
126,2200,494.16,"1,976.64",101.04,0,97.97,100,NaN
127,2215,509.76,"2,039.04",114.24,0,97.58,100,NaN
128,2230,487.68,"1,950.72",96,0,98.12,100,NaN
129,2245,479.28,"1,917.12",94.56,0,98.11,100,NaN
130,2300,482.64,"1,930.56",99.12,0,97.96,100,NaN
131,2315,471.36,"1,885.44",93.6,0,98.08,100,NaN
132,2330,469.2,"1,876.80",95.76,0,97.98,100,NaN
133,2345,469.92,"1,879.68",96.96,0,97.94,100,NaN
134,2400,475.44,"1,901.76",100.08,0,97.86,100,NaN
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,확인자,NaN,NaN,NaN,NaN,NaN,(印),NaN

In [18]:
#python에서 읽었을 때의 index와 엑셀에서의 index가 조금 차이가 날 수 있음.
df = df.iloc[41:137, 0:2]

In [19]:
df

    사용량종합현황 Unnamed: 1
41       45        438
42      100     447.84
43      115     459.36
44      130     438.96
45      145     437.52
46      200      435.6
47      215      453.6
48      230        432
49      245     433.68
50      300        438
51      315      434.4
52      330      429.6
53      345     441.36
54      400     438.72
55      415     447.12
56      430     461.52
57      445     462.72
58      500     467.28
59      515      487.2
60      530      501.6
61      545     504.48
62      600     515.04
63      615     544.08
64      630     541.68
65      645     550.56
66      700     575.04
67      715      616.8
68      730     647.52
69      745     672.48
70      800     715.68
..      ...        ...
107    1715     761.52
108    1730     753.36
109    1745     725.52
110    1800     674.16
111    1815     646.56
112    1830      625.2
113    1845     632.64
114    1900     615.12
115    1915     590.88
116    1930     567.84
117    1945     563.04
118    2000     554.16
119    2015     542.16
120    2030     542.64
121    2045     535.92
122    2100        528
123    2115     519.84
124    2130     509.76
125    2145        498
126    2200     494.16
127    2215     509.76
128    2230     487.68
129    2245     479.28
130    2300     482.64
131    2315     471.36
132    2330      469.2
133    2345     469.92
134    2400     475.44
135     NaN        NaN
136     확인자        NaN

[96 rows x 2 columns]

In [24]:
#df.iloc를 위에 코드를 누른 상태에서 한번더 치면, 안됌.
df = df.iloc[39:135, 0:2]

In [25]:
df

    사용량종합현황 Unnamed: 1
39       15     454.56
40       30     440.88
41       45        438
42      100     447.84
43      115     459.36
44      130     438.96
45      145     437.52
46      200      435.6
47      215      453.6
48      230        432
49      245     433.68
50      300        438
51      315      434.4
52      330      429.6
53      345     441.36
54      400     438.72
55      415     447.12
56      430     461.52
57      445     462.72
58      500     467.28
59      515      487.2
60      530      501.6
61      545     504.48
62      600     515.04
63      615     544.08
64      630     541.68
65      645     550.56
66      700     575.04
67      715      616.8
68      730     647.52
..      ...        ...
105    1645     783.12
106    1700      777.6
107    1715     761.52
108    1730     753.36
109    1745     725.52
110    1800     674.16
111    1815     646.56
112    1830      625.2
113    1845     632.64
114    1900     615.12
115    1915     590.88
116    1930     567.84
117    1945     563.04
118    2000     554.16
119    2015     542.16
120    2030     542.64
121    2045     535.92
122    2100        528
123    2115     519.84
124    2130     509.76
125    2145        498
126    2200     494.16
127    2215     509.76
128    2230     487.68
129    2245     479.28
130    2300     482.64
131    2315     471.36
132    2330      469.2
133    2345     469.92
134    2400     475.44

[96 rows x 2 columns]

In [27]:
df.columns = ['time', 'energy']

In [28]:
df

     time  energy
39     15  454.56
40     30  440.88
41     45     438
42    100  447.84
43    115  459.36
44    130  438.96
45    145  437.52
46    200   435.6
47    215   453.6
48    230     432
49    245  433.68
50    300     438
51    315   434.4
52    330   429.6
53    345  441.36
54    400  438.72
55    415  447.12
56    430  461.52
57    445  462.72
58    500  467.28
59    515   487.2
60    530   501.6
61    545  504.48
62    600  515.04
63    615  544.08
64    630  541.68
65    645  550.56
66    700  575.04
67    715   616.8
68    730  647.52
..    ...     ...
105  1645  783.12
106  1700   777.6
107  1715  761.52
108  1730  753.36
109  1745  725.52
110  1800  674.16
111  1815  646.56
112  1830   625.2
113  1845  632.64
114  1900  615.12
115  1915  590.88
116  1930  567.84
117  1945  563.04
118  2000  554.16
119  2015  542.16
120  2030  542.64
121  2045  535.92
122  2100     528
123  2115  519.84
124  2130  509.76
125  2145     498
126  2200  494.16
127  2215  509.76
128  2230  487.68
129  2245  479.28
130  2300  482.64
131  2315  471.36
132  2330   469.2
133  2345  469.92
134  2400  475.44

[96 rows x 2 columns]

In [29]:
df = df.reset_index(drop = True)

In [32]:
weather_df = pd.read_csv(r"C:\\research_dataset\\prediction_data\\simple_energy_consumption_prediction\\weather_data\\weather_data.csv")

In [33]:
weather_df = weather_df[['time', 'WS', 'TA', 'HM']]

In [34]:
weather_df

                   time    WS     TA     HM
0      01/08/2014 00:15   2.0  230.0  999.0
1      01/08/2014 00:30   9.0  228.0  999.0
2      01/08/2014 00:45   1.0  228.0  999.0
3      01/08/2014 01:00   1.0  227.0  999.0
4      01/08/2014 01:15   0.0  229.0  999.0
5      01/08/2014 01:30   0.0  227.0  999.0
6      01/08/2014 01:45   3.0  226.0  999.0
7      01/08/2014 02:00   0.0  227.0  999.0
8      01/08/2014 02:15   0.0  226.0  999.0
9      01/08/2014 02:30   0.0  225.0  999.0
10     01/08/2014 02:45   1.0  225.0  999.0
11     01/08/2014 03:00   2.0  226.0  999.0
12     01/08/2014 03:15   3.0  225.0  999.0
13     01/08/2014 03:30   0.0  224.0  999.0
14     01/08/2014 03:45   0.0  225.0  999.0
15     01/08/2014 04:00   4.0  225.0  999.0
16     01/08/2014 04:15   3.0  225.0  999.0
17     01/08/2014 04:30   6.0  224.0  999.0
18     01/08/2014 04:45   0.0  223.0  999.0
19     01/08/2014 05:00   0.0  222.0  999.0
20     01/08/2014 05:15   2.0  222.0  999.0
21     01/08/2014 05:30   2.0  221.0  999.0
22     01/08/2014 05:45   4.0  222.0  999.0
23     01/08/2014 06:00   4.0  222.0  999.0
24     01/08/2014 06:15   1.0  223.0  999.0
25     01/08/2014 06:30   3.0  226.0  999.0
26     01/08/2014 06:45   4.0  228.0  999.0
27     01/08/2014 07:00   9.0  233.0  999.0
28     01/08/2014 07:15   9.0  237.0  993.0
29     01/08/2014 07:30  11.0  242.0  978.0
...                 ...   ...    ...    ...
35010  31/07/2015 16:45   5.0  307.0  706.0
35011  31/07/2015 17:00  17.0  306.0  704.0
35012  31/07/2015 17:15  25.0  302.0  688.0
35013  31/07/2015 17:30  15.0  297.0  694.0
35014  31/07/2015 17:45  24.0  291.0  717.0
35015  31/07/2015 18:00  20.0  287.0  757.0
35016  31/07/2015 18:15  17.0  284.0  769.0
35017  31/07/2015 18:30  33.0  280.0  783.0
35018  31/07/2015 18:45  11.0  278.0  794.0
35019  31/07/2015 19:00   9.0  274.0  806.0
35020  31/07/2015 19:15   9.0  272.0  796.0
35021  31/07/2015 19:30  11.0  270.0  805.0
35022  31/07/2015 19:45   3.0  269.0  812.0
35023  31/07/2015 20:00   1.0  265.0  826.0
35024  31/07/2015 20:15   1.0  262.0  842.0
35025  31/07/2015 20:30   4.0  257.0  870.0
35026  31/07/2015 20:45   3.0  255.0  872.0
35027  31/07/2015 21:00   0.0  254.0  861.0
35028  31/07/2015 21:15   5.0  254.0  860.0
35029  31/07/2015 21:30   0.0  250.0  858.0
35030  31/07/2015 21:45   2.0  248.0  859.0
35031  31/07/2015 22:00   1.0  249.0  858.0
35032  31/07/2015 22:15   6.0  246.0  875.0
35033  31/07/2015 22:30   0.0  246.0  893.0
35034  31/07/2015 22:45   0.0  247.0  899.0
35035  31/07/2015 23:00   0.0  246.0  895.0
35036  31/07/2015 23:15   0.0  244.0  906.0
35037  31/07/2015 23:30   1.0  244.0  912.0
35038  31/07/2015 23:45   0.0  248.0  905.0
35039  01/08/2015 00:00   2.0  245.0  912.0

[35040 rows x 4 columns]

In [174]:
weather_df = weather_df.loc[0:95]

In [175]:
weather_df

                time    WS     TA     HM
0   01/08/2014 00:15   2.0  230.0  999.0
1   01/08/2014 00:30   9.0  228.0  999.0
2   01/08/2014 00:45   1.0  228.0  999.0
3   01/08/2014 01:00   1.0  227.0  999.0
4   01/08/2014 01:15   0.0  229.0  999.0
5   01/08/2014 01:30   0.0  227.0  999.0
6   01/08/2014 01:45   3.0  226.0  999.0
7   01/08/2014 02:00   0.0  227.0  999.0
8   01/08/2014 02:15   0.0  226.0  999.0
9   01/08/2014 02:30   0.0  225.0  999.0
10  01/08/2014 02:45   1.0  225.0  999.0
11  01/08/2014 03:00   2.0  226.0  999.0
12  01/08/2014 03:15   3.0  225.0  999.0
13  01/08/2014 03:30   0.0  224.0  999.0
14  01/08/2014 03:45   0.0  225.0  999.0
15  01/08/2014 04:00   4.0  225.0  999.0
16  01/08/2014 04:15   3.0  225.0  999.0
17  01/08/2014 04:30   6.0  224.0  999.0
18  01/08/2014 04:45   0.0  223.0  999.0
19  01/08/2014 05:00   0.0  222.0  999.0
20  01/08/2014 05:15   2.0  222.0  999.0
21  01/08/2014 05:30   2.0  221.0  999.0
22  01/08/2014 05:45   4.0  222.0  999.0
23  01/08/2014 06:00   4.0  222.0  999.0
24  01/08/2014 06:15   1.0  223.0  999.0
25  01/08/2014 06:30   3.0  226.0  999.0
26  01/08/2014 06:45   4.0  228.0  999.0
27  01/08/2014 07:00   9.0  233.0  999.0
28  01/08/2014 07:15   9.0  237.0  993.0
29  01/08/2014 07:30  11.0  242.0  978.0
..               ...   ...    ...    ...
66  01/08/2014 16:45   7.0  312.0  681.0
67  01/08/2014 17:00  12.0  309.0  690.0
68  01/08/2014 17:15  14.0  309.0  650.0
69  01/08/2014 17:30   3.0  303.0  704.0
70  01/08/2014 17:45   2.0  297.0  742.0
71  01/08/2014 18:00   2.0  291.0  760.0
72  01/08/2014 18:15   4.0  291.0  729.0
73  01/08/2014 18:30   3.0  287.0  760.0
74  01/08/2014 18:45   4.0  284.0  752.0
75  01/08/2014 19:00   7.0  279.0  757.0
76  01/08/2014 19:15   3.0  277.0  738.0
77  01/08/2014 19:30   2.0  279.0  726.0
78  01/08/2014 19:45   2.0  274.0  736.0
79  01/08/2014 20:00   5.0  270.0  721.0
80  01/08/2014 20:15   2.0  269.0  732.0
81  01/08/2014 20:30   9.0  270.0  739.0
82  01/08/2014 20:45   1.0  267.0  749.0
83  01/08/2014 21:00   2.0  269.0  759.0
84  01/08/2014 21:15   4.0  268.0  762.0
85  01/08/2014 21:30   0.0  269.0  776.0
86  01/08/2014 21:45   5.0  270.0  767.0
87  01/08/2014 22:00   4.0  268.0  785.0
88  01/08/2014 22:15   4.0  273.0  759.0
89  01/08/2014 22:30   4.0  270.0  784.0
90  01/08/2014 22:45   0.0  268.0  800.0
91  01/08/2014 23:00   4.0  267.0  806.0
92  01/08/2014 23:15   8.0  265.0  786.0
93  01/08/2014 23:30   7.0  266.0  780.0
94  01/08/2014 23:45   1.0  267.0  773.0
95  02/08/2014 00:00   4.0  263.0  793.0

[96 rows x 4 columns]

In [176]:
# 불필요한 column제거1
weather_df = weather_df.drop("time", axis = 1)

In [140]:
# 불필요한 column제거2
weather_df = weather_df[['WS', 'TA', "HM"]]

In [178]:
weather_df

      WS     TA     HM
0    2.0  230.0  999.0
1    9.0  228.0  999.0
2    1.0  228.0  999.0
3    1.0  227.0  999.0
4    0.0  229.0  999.0
5    0.0  227.0  999.0
6    3.0  226.0  999.0
7    0.0  227.0  999.0
8    0.0  226.0  999.0
9    0.0  225.0  999.0
10   1.0  225.0  999.0
11   2.0  226.0  999.0
12   3.0  225.0  999.0
13   0.0  224.0  999.0
14   0.0  225.0  999.0
15   4.0  225.0  999.0
16   3.0  225.0  999.0
17   6.0  224.0  999.0
18   0.0  223.0  999.0
19   0.0  222.0  999.0
20   2.0  222.0  999.0
21   2.0  221.0  999.0
22   4.0  222.0  999.0
23   4.0  222.0  999.0
24   1.0  223.0  999.0
25   3.0  226.0  999.0
26   4.0  228.0  999.0
27   9.0  233.0  999.0
28   9.0  237.0  993.0
29  11.0  242.0  978.0
..   ...    ...    ...
66   7.0  312.0  681.0
67  12.0  309.0  690.0
68  14.0  309.0  650.0
69   3.0  303.0  704.0
70   2.0  297.0  742.0
71   2.0  291.0  760.0
72   4.0  291.0  729.0
73   3.0  287.0  760.0
74   4.0  284.0  752.0
75   7.0  279.0  757.0
76   3.0  277.0  738.0
77   2.0  279.0  726.0
78   2.0  274.0  736.0
79   5.0  270.0  721.0
80   2.0  269.0  732.0
81   9.0  270.0  739.0
82   1.0  267.0  749.0
83   2.0  269.0  759.0
84   4.0  268.0  762.0
85   0.0  269.0  776.0
86   5.0  270.0  767.0
87   4.0  268.0  785.0
88   4.0  273.0  759.0
89   4.0  270.0  784.0
90   0.0  268.0  800.0
91   4.0  267.0  806.0
92   8.0  265.0  786.0
93   7.0  266.0  780.0
94   1.0  267.0  773.0
95   4.0  263.0  793.0

[96 rows x 3 columns]

In [181]:
df.reset_index(drop = True, inplace = True)

In [183]:
weather_df.reset_index(drop = True, inplace = True)

In [35]:
pd.concat((df, weather_df), axis = 1)

      time  energy              time    WS     TA     HM
0       15  454.56  01/08/2014 00:15   2.0  230.0  999.0
1       30  440.88  01/08/2014 00:30   9.0  228.0  999.0
2       45     438  01/08/2014 00:45   1.0  228.0  999.0
3      100  447.84  01/08/2014 01:00   1.0  227.0  999.0
4      115  459.36  01/08/2014 01:15   0.0  229.0  999.0
5      130  438.96  01/08/2014 01:30   0.0  227.0  999.0
6      145  437.52  01/08/2014 01:45   3.0  226.0  999.0
7      200   435.6  01/08/2014 02:00   0.0  227.0  999.0
8      215   453.6  01/08/2014 02:15   0.0  226.0  999.0
9      230     432  01/08/2014 02:30   0.0  225.0  999.0
10     245  433.68  01/08/2014 02:45   1.0  225.0  999.0
11     300     438  01/08/2014 03:00   2.0  226.0  999.0
12     315   434.4  01/08/2014 03:15   3.0  225.0  999.0
13     330   429.6  01/08/2014 03:30   0.0  224.0  999.0
14     345  441.36  01/08/2014 03:45   0.0  225.0  999.0
15     400  438.72  01/08/2014 04:00   4.0  225.0  999.0
16     415  447.12  01/08/2014 04:15   3.0  225.0  999.0
17     430  461.52  01/08/2014 04:30   6.0  224.0  999.0
18     445  462.72  01/08/2014 04:45   0.0  223.0  999.0
19     500  467.28  01/08/2014 05:00   0.0  222.0  999.0
20     515   487.2  01/08/2014 05:15   2.0  222.0  999.0
21     530   501.6  01/08/2014 05:30   2.0  221.0  999.0
22     545  504.48  01/08/2014 05:45   4.0  222.0  999.0
23     600  515.04  01/08/2014 06:00   4.0  222.0  999.0
24     615  544.08  01/08/2014 06:15   1.0  223.0  999.0
25     630  541.68  01/08/2014 06:30   3.0  226.0  999.0
26     645  550.56  01/08/2014 06:45   4.0  228.0  999.0
27     700  575.04  01/08/2014 07:00   9.0  233.0  999.0
28     715   616.8  01/08/2014 07:15   9.0  237.0  993.0
29     730  647.52  01/08/2014 07:30  11.0  242.0  978.0
...    ...     ...               ...   ...    ...    ...
35010  NaN     NaN  31/07/2015 16:45   5.0  307.0  706.0
35011  NaN     NaN  31/07/2015 17:00  17.0  306.0  704.0
35012  NaN     NaN  31/07/2015 17:15  25.0  302.0  688.0
35013  NaN     NaN  31/07/2015 17:30  15.0  297.0  694.0
35014  NaN     NaN  31/07/2015 17:45  24.0  291.0  717.0
35015  NaN     NaN  31/07/2015 18:00  20.0  287.0  757.0
35016  NaN     NaN  31/07/2015 18:15  17.0  284.0  769.0
35017  NaN     NaN  31/07/2015 18:30  33.0  280.0  783.0
35018  NaN     NaN  31/07/2015 18:45  11.0  278.0  794.0
35019  NaN     NaN  31/07/2015 19:00   9.0  274.0  806.0
35020  NaN     NaN  31/07/2015 19:15   9.0  272.0  796.0
35021  NaN     NaN  31/07/2015 19:30  11.0  270.0  805.0
35022  NaN     NaN  31/07/2015 19:45   3.0  269.0  812.0
35023  NaN     NaN  31/07/2015 20:00   1.0  265.0  826.0
35024  NaN     NaN  31/07/2015 20:15   1.0  262.0  842.0
35025  NaN     NaN  31/07/2015 20:30   4.0  257.0  870.0
35026  NaN     NaN  31/07/2015 20:45   3.0  255.0  872.0
35027  NaN     NaN  31/07/2015 21:00   0.0  254.0  861.0
35028  NaN     NaN  31/07/2015 21:15   5.0  254.0  860.0
35029  NaN     NaN  31/07/2015 21:30   0.0  250.0  858.0
35030  NaN     NaN  31/07/2015 21:45   2.0  248.0  859.0
35031  NaN     NaN  31/07/2015 22:00   1.0  249.0  858.0
35032  NaN     NaN  31/07/2015 22:15   6.0  246.0  875.0
35033  NaN     NaN  31/07/2015 22:30   0.0  246.0  893.0
35034  NaN     NaN  31/07/2015 22:45   0.0  247.0  899.0
35035  NaN     NaN  31/07/2015 23:00   0.0  246.0  895.0
35036  NaN     NaN  31/07/2015 23:15   0.0  244.0  906.0
35037  NaN     NaN  31/07/2015 23:30   1.0  244.0  912.0
35038  NaN     NaN  31/07/2015 23:45   0.0  248.0  905.0
35039  NaN     NaN  01/08/2015 00:00   2.0  245.0  912.0

[35040 rows x 6 columns]

In [37]:
frame = pd.concat([df,weather_df], axis = 1)

In [38]:
frame

      time  energy              time    WS     TA     HM
0       15  454.56  01/08/2014 00:15   2.0  230.0  999.0
1       30  440.88  01/08/2014 00:30   9.0  228.0  999.0
2       45     438  01/08/2014 00:45   1.0  228.0  999.0
3      100  447.84  01/08/2014 01:00   1.0  227.0  999.0
4      115  459.36  01/08/2014 01:15   0.0  229.0  999.0
5      130  438.96  01/08/2014 01:30   0.0  227.0  999.0
6      145  437.52  01/08/2014 01:45   3.0  226.0  999.0
7      200   435.6  01/08/2014 02:00   0.0  227.0  999.0
8      215   453.6  01/08/2014 02:15   0.0  226.0  999.0
9      230     432  01/08/2014 02:30   0.0  225.0  999.0
10     245  433.68  01/08/2014 02:45   1.0  225.0  999.0
11     300     438  01/08/2014 03:00   2.0  226.0  999.0
12     315   434.4  01/08/2014 03:15   3.0  225.0  999.0
13     330   429.6  01/08/2014 03:30   0.0  224.0  999.0
14     345  441.36  01/08/2014 03:45   0.0  225.0  999.0
15     400  438.72  01/08/2014 04:00   4.0  225.0  999.0
16     415  447.12  01/08/2014 04:15   3.0  225.0  999.0
17     430  461.52  01/08/2014 04:30   6.0  224.0  999.0
18     445  462.72  01/08/2014 04:45   0.0  223.0  999.0
19     500  467.28  01/08/2014 05:00   0.0  222.0  999.0
20     515   487.2  01/08/2014 05:15   2.0  222.0  999.0
21     530   501.6  01/08/2014 05:30   2.0  221.0  999.0
22     545  504.48  01/08/2014 05:45   4.0  222.0  999.0
23     600  515.04  01/08/2014 06:00   4.0  222.0  999.0
24     615  544.08  01/08/2014 06:15   1.0  223.0  999.0
25     630  541.68  01/08/2014 06:30   3.0  226.0  999.0
26     645  550.56  01/08/2014 06:45   4.0  228.0  999.0
27     700  575.04  01/08/2014 07:00   9.0  233.0  999.0
28     715   616.8  01/08/2014 07:15   9.0  237.0  993.0
29     730  647.52  01/08/2014 07:30  11.0  242.0  978.0
...    ...     ...               ...   ...    ...    ...
35010  NaN     NaN  31/07/2015 16:45   5.0  307.0  706.0
35011  NaN     NaN  31/07/2015 17:00  17.0  306.0  704.0
35012  NaN     NaN  31/07/2015 17:15  25.0  302.0  688.0
35013  NaN     NaN  31/07/2015 17:30  15.0  297.0  694.0
35014  NaN     NaN  31/07/2015 17:45  24.0  291.0  717.0
35015  NaN     NaN  31/07/2015 18:00  20.0  287.0  757.0
35016  NaN     NaN  31/07/2015 18:15  17.0  284.0  769.0
35017  NaN     NaN  31/07/2015 18:30  33.0  280.0  783.0
35018  NaN     NaN  31/07/2015 18:45  11.0  278.0  794.0
35019  NaN     NaN  31/07/2015 19:00   9.0  274.0  806.0
35020  NaN     NaN  31/07/2015 19:15   9.0  272.0  796.0
35021  NaN     NaN  31/07/2015 19:30  11.0  270.0  805.0
35022  NaN     NaN  31/07/2015 19:45   3.0  269.0  812.0
35023  NaN     NaN  31/07/2015 20:00   1.0  265.0  826.0
35024  NaN     NaN  31/07/2015 20:15   1.0  262.0  842.0
35025  NaN     NaN  31/07/2015 20:30   4.0  257.0  870.0
35026  NaN     NaN  31/07/2015 20:45   3.0  255.0  872.0
35027  NaN     NaN  31/07/2015 21:00   0.0  254.0  861.0
35028  NaN     NaN  31/07/2015 21:15   5.0  254.0  860.0
35029  NaN     NaN  31/07/2015 21:30   0.0  250.0  858.0
35030  NaN     NaN  31/07/2015 21:45   2.0  248.0  859.0
35031  NaN     NaN  31/07/2015 22:00   1.0  249.0  858.0
35032  NaN     NaN  31/07/2015 22:15   6.0  246.0  875.0
35033  NaN     NaN  31/07/2015 22:30   0.0  246.0  893.0
35034  NaN     NaN  31/07/2015 22:45   0.0  247.0  899.0
35035  NaN     NaN  31/07/2015 23:00   0.0  246.0  895.0
35036  NaN     NaN  31/07/2015 23:15   0.0  244.0  906.0
35037  NaN     NaN  31/07/2015 23:30   1.0  244.0  912.0
35038  NaN     NaN  31/07/2015 23:45   0.0  248.0  905.0
35039  NaN     NaN  01/08/2015 00:00   2.0  245.0  912.0

[35040 rows x 6 columns]

In [39]:
frame.dropna()

    time  energy              time    WS     TA     HM
0     15  454.56  01/08/2014 00:15   2.0  230.0  999.0
1     30  440.88  01/08/2014 00:30   9.0  228.0  999.0
2     45     438  01/08/2014 00:45   1.0  228.0  999.0
3    100  447.84  01/08/2014 01:00   1.0  227.0  999.0
4    115  459.36  01/08/2014 01:15   0.0  229.0  999.0
5    130  438.96  01/08/2014 01:30   0.0  227.0  999.0
6    145  437.52  01/08/2014 01:45   3.0  226.0  999.0
7    200   435.6  01/08/2014 02:00   0.0  227.0  999.0
8    215   453.6  01/08/2014 02:15   0.0  226.0  999.0
9    230     432  01/08/2014 02:30   0.0  225.0  999.0
10   245  433.68  01/08/2014 02:45   1.0  225.0  999.0
11   300     438  01/08/2014 03:00   2.0  226.0  999.0
12   315   434.4  01/08/2014 03:15   3.0  225.0  999.0
13   330   429.6  01/08/2014 03:30   0.0  224.0  999.0
14   345  441.36  01/08/2014 03:45   0.0  225.0  999.0
15   400  438.72  01/08/2014 04:00   4.0  225.0  999.0
16   415  447.12  01/08/2014 04:15   3.0  225.0  999.0
17   430  461.52  01/08/2014 04:30   6.0  224.0  999.0
18   445  462.72  01/08/2014 04:45   0.0  223.0  999.0
19   500  467.28  01/08/2014 05:00   0.0  222.0  999.0
20   515   487.2  01/08/2014 05:15   2.0  222.0  999.0
21   530   501.6  01/08/2014 05:30   2.0  221.0  999.0
22   545  504.48  01/08/2014 05:45   4.0  222.0  999.0
23   600  515.04  01/08/2014 06:00   4.0  222.0  999.0
24   615  544.08  01/08/2014 06:15   1.0  223.0  999.0
25   630  541.68  01/08/2014 06:30   3.0  226.0  999.0
26   645  550.56  01/08/2014 06:45   4.0  228.0  999.0
27   700  575.04  01/08/2014 07:00   9.0  233.0  999.0
28   715   616.8  01/08/2014 07:15   9.0  237.0  993.0
29   730  647.52  01/08/2014 07:30  11.0  242.0  978.0
..   ...     ...               ...   ...    ...    ...
66  1645  783.12  01/08/2014 16:45   7.0  312.0  681.0
67  1700   777.6  01/08/2014 17:00  12.0  309.0  690.0
68  1715  761.52  01/08/2014 17:15  14.0  309.0  650.0
69  1730  753.36  01/08/2014 17:30   3.0  303.0  704.0
70  1745  725.52  01/08/2014 17:45   2.0  297.0  742.0
71  1800  674.16  01/08/2014 18:00   2.0  291.0  760.0
72  1815  646.56  01/08/2014 18:15   4.0  291.0  729.0
73  1830   625.2  01/08/2014 18:30   3.0  287.0  760.0
74  1845  632.64  01/08/2014 18:45   4.0  284.0  752.0
75  1900  615.12  01/08/2014 19:00   7.0  279.0  757.0
76  1915  590.88  01/08/2014 19:15   3.0  277.0  738.0
77  1930  567.84  01/08/2014 19:30   2.0  279.0  726.0
78  1945  563.04  01/08/2014 19:45   2.0  274.0  736.0
79  2000  554.16  01/08/2014 20:00   5.0  270.0  721.0
80  2015  542.16  01/08/2014 20:15   2.0  269.0  732.0
81  2030  542.64  01/08/2014 20:30   9.0  270.0  739.0
82  2045  535.92  01/08/2014 20:45   1.0  267.0  749.0
83  2100     528  01/08/2014 21:00   2.0  269.0  759.0
84  2115  519.84  01/08/2014 21:15   4.0  268.0  762.0
85  2130  509.76  01/08/2014 21:30   0.0  269.0  776.0
86  2145     498  01/08/2014 21:45   5.0  270.0  767.0
87  2200  494.16  01/08/2014 22:00   4.0  268.0  785.0
88  2215  509.76  01/08/2014 22:15   4.0  273.0  759.0
89  2230  487.68  01/08/2014 22:30   4.0  270.0  784.0
90  2245  479.28  01/08/2014 22:45   0.0  268.0  800.0
91  2300  482.64  01/08/2014 23:00   4.0  267.0  806.0
92  2315  471.36  01/08/2014 23:15   8.0  265.0  786.0
93  2330   469.2  01/08/2014 23:30   7.0  266.0  780.0
94  2345  469.92  01/08/2014 23:45   1.0  267.0  773.0
95  2400  475.44  02/08/2014 00:00   4.0  263.0  793.0

[96 rows x 6 columns]

In [195]:
frame.to_csv('C:\\research_dataset\\prediction_data\\simple_energy_consumption_prediction\\frame.csv', index = False)